@font-face {
  font-family: "Verdana";
  font-weight: 400;
  src: url(../www/fonts/verdana.ttf) format("ttf");
}

@font-face {
  font-family: "Verdana";
  font-weight: 700;
  src: url(../www/fonts/verdana-bold.ttf) format("ttf");
}
