//Colors
$primary: #fe5000;
$text: #75787b;
$input: #f6f6f6;
$error: #fe0000;
$border: #aeaeae;
$grey-light: #e9ecef;
$white: #ffffff;

//border radius
$radius: rem(20);

//transition
$transition: 0.3s;
